body {
    font-family: Georgia;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

#Pie {
    position: bottom;
    padding: 20px;
    width: 100%;
    background-color: rgb(47, 44, 44);
    border-top: solid medium goldenrod;
}

#textoPie {
    text-align: center;
    color: aliceblue;
}

.Contacto {
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    border-radius: 20%;
    padding: 5px;
    margin-top: 10px;
    vertical-align: middle;
}

h3 {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 20px black;
    text-decoration: underline;
}

.contactoTexto {
    color: aliceblue;
    text-decoration: underline;
    height: 50px;
    display: inline-block;
    margin-left: 20px;
}

#contactos {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

#iconoUsuario {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: solid medium goldenrod;
    border-radius: 50%;
}

.login-btn {
    background-color: rgb(25, 67, 104);
    color: aliceblue;
    border: solid medium goldenrod;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.campo {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
}
header {
    background-color: rgb(25, 67, 104);
    border-bottom: solid medium goldenrod;
}
.nav-link {
    color: aliceblue;
    text-decoration: underline;
    font-size: 20px;
    display: inline-block;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
#Encabezado {
    text-align: center;
    width: 100%;
    padding-bottom: 150px;
    padding-top: 150px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: black;
    background-size: cover;
}
.titulo {
    color: aliceblue;
    text-decoration: underline;
    text-shadow: 2px 2px 200px black;
    text-align: center;
}
#titulo1 {
    display: inline;
    background-color: darkslategrey;
    border-radius: 20px;
    padding: 10px;
    border: thin solid goldenrod;
}
h2 {
    color: aliceblue;
    text-shadow: 2px 2px 20px black;
    text-align: center;
}
#titulo2 {
    background-color: darkslategrey;
    display: inline;
    border-radius: 20px;
    padding: 10px;
    border: thin solid goldenrod;
}
.link {
    font-family: Georgia;
    font-style: italic;
    color: rgb(14, 97, 222);
}

#link1 {
    background-color: aliceblue;
    border: solid, thin, black;
    border-radius: 20px;
    padding: 10px;
}

.link:hover {
    color: rgb(130, 9, 134);
}
#Cuerpo {
    display: flex;
    justify-content: space-between;
}
.contexto {
    border-radius: 5%;
    padding-top: 5px;
    color: rgb(8, 9, 9);
    display: block;
    margin-left: 20px;
    font-size: larger;
    padding: 10px;
}

.izquierda {
    border-radius: 5%;
    border: thin, solid, black;
    display: flex;
    vertical-align: middle;
    width: 70%;
    height: 283px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: aliceblue;
}

.derecha {
    float: right;
    border-radius: 5%;
    border: thin, solid, black;
    display: flex;
    vertical-align: middle;
    width: 70%;
    height: 283px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: aliceblue;
}
#imagen {
    border-radius: 5%;
    border: thin, solid, black;
    vertical-align: middle;
}

//Página principal --------------------------------------------------------------------------------------------------------------

#Encabezado2 {
    text-align: center;
    width: 100%;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: thick solid black;
}
#textoPresentacion {
    border-radius: 10%;
    padding: 10px;
    color: rgb(8, 9, 9);
    font-size: larger;
    background-color: aliceblue;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid thin black;
    margin-top: 100px;
    margin-bottom: 140px;
}

#seccion {
    border-radius: 5%;
    border: thin, solid, black;
    display: flex;
    vertical-align: middle;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: aliceblue;
}

#tarjetas {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tarjeta {
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: rgb(25, 67, 104);
    border-radius: 10%;
    border: solid medium goldenrod;
    margin-bottom: 100px;
    margin-top: 50px;
}

.textoTarjeta {
    padding: 10px;
    color: aliceblue;
    font-size: medium;
    text-align: center;
}

#frase {
    font-style: oblique;
    font-size: x-large;
    color: rgb(36, 34, 34);
    margin-top: 50px;
    margin-bottom: 50px;
}

.division {
    color: rgb(36, 34, 34);
    width: 80%;
    border: solid thin;
}

#grid {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#seccionGrid {
    margin-top: 150px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10%;
    border: solid thin black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.staff {
    padding: 10px;
    text-align: center;
    background-color: rgb(25, 67, 104);
    border-radius: 10%;
    border: solid medium goldenrod;
    margin-bottom: 100px;
}

.foto {
    border-radius: 10%;
}

#tituloStaff {
    font-style: oblique;
    color: rgb(36, 34, 34);
    margin-top: 60px;
    margin-bottom: 100px;
    text-decoration: underline;
    font-size: x-large;
}

#tituloContacto {
    font-style: oblique;
    color: rgb(36, 34, 34);
    margin-top: 60px;
    text-decoration: underline;
    font-size: x-large;
}

#gridForm {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#tarjetaForm {
    color: aliceblue;
    background-color: rgb(25, 67, 104);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10%;
    border: solid medium goldenrod;
    text-align: left;
    width: 220px;
}

#seccionGridForm {
    margin-top: 150px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10%;
    border: solid thin black;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.enviar {
    margin-bottom: 50px;
}

label {
    font-style: oblique;
    text-decoration: underline;
}

.texto {
    color: aliceblue;
    background-color: rgb(25, 67, 104);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10%;
    border: solid medium goldenrod;
    text-align: left;
    width: 200px;
}

#tituloForm {
    text-align: center;
    text-decoration: underline;
}

.labels {
    width: 200px;
}

#formularioLogin {
    display: none;
    height: 35%;
    position: fixed;
    top: 40%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: aliceblue;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px
}

// Quienes Somos ----------------------------------------------------------------------------------------------------------------

#crearSolForm {
    display: block;
    position: relative; 
    margin: 40px auto; 
    width: 80%;
    max-width: 700px;
    background-color: aliceblue;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}


#formConsulta {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20%;
    padding: 30px;
    margin: auto;
    border: solid thin black;
    width: 80%;
    margin-bottom: 100px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;               
    margin: 20px 0;          
    align-items: start;
}

.form-grid .form-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: block;
    width: 90%;
    max-width: 320px;
    padding: 8px 12px;
    border-radius: 8px;
    border: medium solid goldenrod;
    background: rgb(25, 67, 104);
    box-sizing: border-box;
}

.full-width {
    margin-top: 16px;        
    width: 100%;
}


#form-descrip {
    display: block;
    width: 95%;
    height: 200px;
    margin-bottom: 2%;
    margin: auto;
    border: medium solid goldenrod;
    background: rgb(25, 67, 104);
    padding: 10px;
    min-height: 100px;
    max-height: 600px;
}

#crearSol {
    background-color: rgb(25, 67, 104);
    color: aliceblue;
    border: solid medium goldenrod;
    border-radius: 10%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto
}